@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.content {
  width: 100vw;
  position: absolute;
  z-index: 99;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

section2 {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 20vh;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
  font-size: 0px;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  font-size: 35px;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}