@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.content {
  width: 100vw;
  position: absolute;
  z-index: 99;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 100px);
}

section {
  height: 100vh;
}

.divider {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 20vh;
}

.introduction-content {
  display: flex;
  align-items: center;
  width: 100vw;
}

.introduction-content-left {
  margin-left: 5rem;
  text-align: justify;
  text-justify: inter-word;
  width: 80vw;
}

.introduction-content-right {
  margin-right: 5rem;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.activity-plan-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.photo {
  scale: 0.7;
  margin-bottom: 4rem;
  margin-left: 1.5rem;
}

.logos {
  display: flex;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
  font-size: 0px;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  font-size: 30px;
}

.item {
  margin-top: 1rem;
  width: 250px;
  height: 250px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.logo:nth-child(2) {
  transition-delay: 300ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
